# Rust
target/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Backups
*.bak

# Virtual environments
venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
# Data directory
data/*
!data/.gitkeep

# SQLite DB & Config
*.db
*.db-journal
*.db-shm
*.db-wal
*.cfg


# Node
node_modules/

